.services-wrapper {
    background: #fff;
    color: #999;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.services-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.service h2,
.service p {
    color: #999;
    margin: 10px 0;
    text-align: center;
}

.service {
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 140px;
    position: relative;
}

.service:nth-child(1) {
    top: 5px;
}
.service:nth-child(2) {
    top: 10px;
}
.service:nth-child(3) {
    top: 15px;
}

.content {
    padding: 10px;
    clear: left;
    margin: 20px 1%;
}

.content p {
    -webkit-column-count: 3;
    -webkit-column-gap: 50px;
    -webkit-column-rule: 1px solid #ccc;
    text-align: justify;
    position: relative;
    left: 50px;
}

section,
aside {
    float: left;
    width: 46%;
    margin: 1%;
    padding: 1%;
    background: #f2f2f2;
}

.columns:after {
    display: block;
    content: '';
    clear: both;
}
